<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Hunter PS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
    <div id="header">
        <div class="d-flex justify-content-center align-items-center" style="height: 200px;">
<h1>Hunter PS</h1>
        </div>
        <div class=" justify-content-center align-items-center">
        <input id="query" class="form-control me-sm-2" type="search" placeholder="Search" >
        </div>
<div class="d-flex justify-content-center align-items-center"> 
    <button id="btnSearch" class="btn btn-secondary d-flex" type="submit">Search</button>
</div>
    </div>

    <div id="main">
  <div id="loader" style="display:none; text-align:center; margin-top:2rem;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
    <p>Cargando resultados...</p>
  </div>
</div>


    </div>
    <script src="../static/main.js" defer></script>
</body>
</html>